{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Chat and argue with people across the globe regarding any topic you choose, from video-games to bio-medical science. Welcome to Bantopia, the Choice Arena." />
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_package/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_package/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_package/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_package/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon_package/safari-pinned-tab.svg' %}" color="#f28500">
    <meta name="msapplication-TileColor" content="#f28500">
    <meta name="theme-color" content="#ffffff">
    <title>Create your Profile | Bantopia</title>
</head>
<body>
    <div class="create-container">
        <div class="create-title">
            <h1>Create a quick profile, or <a href="/login/">log in</a></h1>
        </div>
        <div class="messages" id="messages-container">
            <div class="message">
                <div class="message-body">
                    <div class="text">
                        <div class="author"><span class="author-shadow-OR">derek2887</span></div>
                        <div class="message-content neutral"><span class="message-tag leading-tag dislikable-excited color-OR">{</span><span class="message-actual-content">Choas reigns...</span><span class="message-tag trailing-tag likable-excited color-OR">}</span><sup>-8</sup></div>
                    </div>
                </div>
            </div>
            <div class="message">
                <div class="message-body">
                    <div class="text">
                        <div class="author"><span class="author-shadow-OR">samspam</span></div>
                        <div class="message-content neutral"><span class="message-tag leading-tag dislikable-excited color-OR">{</span><span class="message-actual-content">Oh gosh, derek's gettting metephoric again.</span><span class="message-tag trailing-tag likable-excited color-OR">}</span><sup>23</sup></div>
                    </div>
                </div>
            </div>
        </div>
        <form method="post" spellcheck="false">
            {% csrf_token %}
            <div class="content">
                <div class="form-area">
                    <div class="create-field-area">
                        <div class="input-field">
                            {% if message == 'empty-display-name' or message == 'display-name-taken' %}
                            <input class="erroneous-input" type="text" id="create-name" name="create-name" autocomplete="off" placeholder="Display Name">
                            {% else %}
                            <input type="text" id="create-name" name="create-name" autocomplete="off" placeholder="Display Name">
                            {% endif %}
                        </div>
                        <div class="input-field">
                            {% if message == 'mismatched-passwords' or message == 'empty-password' %}
                            <input class="erroneous-input" type="password" id="create-password" name="create-password" autocomplete="off" placeholder="Password">
                            {% else %}
                            <input type="password" id="create-password" name="create-password" autocomplete="off" placeholder="Password">
                            {% endif %}
                        </div>
                        <div class="input-field">
                            {% if message == 'mismatched-passwords' or message == 'empty-password' %}
                            <input class="erroneous-input" type="password" id="create-confirm" name="create-confirm-password" autocomplete="off" placeholder="Confirm Password">
                            {% else %}
                            <input type="password" id="create-confirm" name="create-confirm-password" autocomplete="off" placeholder="Confirm Password">
                            {% endif %}
                        </div>
                    </div>
                    {% if message == 'empty-display-name' or message == 'empty-password' %}
                    <div class="create-support-message"><p>Fill. In. All. The. Fields.</p></div>
                    {% elif message == 'display-name-taken' %}
                    <div class="create-support-message"><p>Snap, That display name has already been taken! Try another one.</p></div>
                    {% elif message == 'mismatched-passwords' %}
                    <div class="create-support-message"><p>Those passwords don't match. Repeat. Those passwords don't match.</p></div>
                    {% else %}
                    <div class="create-support-message"><p></p></div>
                    {% endif %}
                </div>
            </div>    
            <div class="create-button-container">
                <button type="submit" class="create-button" id="create-submit" value="Create your profile">
                    <span id="create-text">Click here to join the utter chaos!</span>
                </button>
            </div>
        </form>
    </div>
</body>
<script src="../../js/create.js"></script>
</html>