{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Chat and Chat and argue with people across the globe regarding any topic you choose, from video-games to bio-medical science, enjoying the Internet in its purest form. It’s completely anonymous, so create a quick profile and experience it all!" />
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_package/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_package/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_package/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_package/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon_package/safari-pinned-tab.svg' %}" color="#f28500">
    <meta name="msapplication-TileColor" content="#f28500">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Bantopia: The Social Forum"/>
    <meta property="og:url" content="https://bantopia.com/">
    <meta property="og:description" content="Chat and argue with people across the globe regarding any topic you choose, from video-games to bio-medical science, enjoying the Internet in its purest form. It’s completely anonymous, so create a quick profile and experience it all!" />
    <meta property="og:image" content="{% static 'images/Poster.png' %}" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://bantopia.com/" />
    <meta property="twitter:title" content="Bantopia: The Social Forum" />
    <meta property="twitter:description" content="Chat and argue with people across the globe regarding any topic you choose, from video-games to bio-medical science, enjoying the Internet in its purest form. It’s completely anonymous, so create a quick profile and experience it all!" />
    <meta property="twitter:image" content="{% static 'images/Poster.png' %}" />
    <title>Log In | Bantopia</title>
</head>
<body>
    <div class="login-container">
        <div class="login-title">
            <h1>Log in, or <a href="/create-profile/">create a quick profile</a></h1>
        </div>
        <form method="POST" spellcheck="false">
            {% csrf_token %}
            <div class="content">
                <div class="form-area">
                    <div class="login-field-area">
                        <div class="input-field">
                            {% if message == 'nonexistent-display-name' %}
                            <input class="erroneous-input" type="text" id="login-name" name="login-name" autocomplete="off" placeholder="Your Display Name">
                            {% else %}
                            <input type="text" id="login-name" name="login-name" autocomplete="off" placeholder="Your Display Name">
                            {% endif %}
                        </div>
                        <div class="input-field">
                            {% if message == 'incorrect-password' %}
                            <input class="erroneous-input" type="password" id="login-password" name="login-password" autocomplete="off" placeholder="Your Password">
                            {% else %}
                            <input type="password" id="login-password" name="login-password" autocomplete="off" placeholder="Your Password">
                            {% endif %}
                        </div>
                    </div>
                    {% if message == 'incorrect-password' %}
                    <div class="login-support-message"><p>Yeesh, that password's incorrect. If you forgot your password email support@bantopia.com.</p></div>
                    {% elif message == 'nonexistent-display-name' %}
                    <div class="login-support-message"><p>That profile doesn't seem to exist, are you sure you got the display name right?</p></div>
                    {% else %}
                    <div class="login-support-message"><p></p></div>
                    {% endif %}
                </div>
            </div>
            <div class="login-button-container">
                <button type="submit" class="login-button" id="login-submit" value="Create your profile">
                    <span id="login-text">Click here to resume the chaos!</span>
                </button>
            </div>
        </form>
</body>
<script src="../../js/login.js"></script>
</html>