{% load static %}
{% load poll_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/comm.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_package/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_package/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_package/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_package/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon_package/safari-pinned-tab.svg' %}" color="#f28500">
    <meta name="msapplication-TileColor" content="#f28500">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Bantopia: Talk to the Void"/>
    <meta property="og:url" content="https://bantopia.com/">
    <meta property="og:description" content="Interact with the infinite abyss of the Internet. Talk to the void, and you will become part of it. Explore at your own intellectual risk. Welcome Anon, to the Internet as it has never been known." />
    <meta property="og:image" content="{% static 'images/Poster.png' %}" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://bantopia.com/" />
    <meta property="twitter:title" content="Bantopia: Talk to the Void" />
    <meta property="twitter:description" content="Interact with the infinite abyss of the Internet. Talk to the void, and you will become part of it. Explore at your own intellectual risk. Welcome Anon, to the Internet as it has never been known." />
    <meta property="twitter:image" content="{% static 'images/Poster.png' %}" />
    <title>Central Nexus | Bantopia</title>
</head>
<body>
    <div class="sidebar">
        <a href="/" class="option">
            <h1>Back</h1>
        </a>
        <a href="/{{post.post_code}}/{{post.post_slug}}" class="option"> 
            <h1>Context</h1>
        </a>
        <a href="/ws/{{post.post_code}}/{{post.post_slug}}/chat" class="option" id="chat-option"> 
            <h1>Chat</h1>
        </a>
        <a href="/{{post.post_code}}/{{post.post_slug}}/counters" class="option">
            <h1>Counters</h1>
        </a>
        {% if post.post_type != 'QU' %}
        <a class="option" id="balance-option">
            <div id="Y"><h1>yes={{ y }}</h1></div>
            <div id="N"><h1>no={{ n }}</h1></div>
        </a>
        {% endif %}
        <a href="/{{post.post_code}}/{{post.post_slug}}/dogs" class="option">
            <h1>Top Dogs</h1>
        </a>
    </div>
    <div class="mobile-menu" id="mobile-menu">
        <div class="menu-collapsed" id="collapsable-menu">
            <div class="level">
                <a href="/" class="option" id="mobile-menu-back">
                    <h1>Back</h1>
                </a>
            </div>
            <div class="level">
                <a href="/{{post.post_code}}/{{post.post_slug}}/dogs" class="option">
                    <h1>Top Dogs</h1>
                </a>
                <a href="/{{post.post_code}}/{{post.post_slug}}/counters" class="option">
                    <h1>Counters</h1>
                </a>
            </div>
            <div class="level" id="chat-level">
                {% if post.post_type != 'QU' %}
                <a class="option" id="mobile-balance-option-Y">
                    <h1 id="mobile-Y">yes={{ y }}</h1>
                </a>
                {% endif %}
                <a href="/ws/{{post.post_code}}/{{post.post_slug}}/chat" class="option"> 
                    <h1>Chat</h1>
                </a>
                {% if post.post_type != 'QU' %}
                <a class="option" id="mobile-balance-option-N">
                    <h1 id="mobile-N">no={{ n }}</h1>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="option" id="bottom-option">
            <div class="level" id="nav-toggle">
                <div class="toggle"><img src="{% static 'images/chevron-up-solid.svg' %}" alt=""></div>
            </div>
            <div class="level mobile-header">
                <a href="/{{post.post_code}}/{{post.post_slug}}">
                    {% if post.post_type == 'DE' %}
                    <h2><span class="mobile-header-shadow-DE">Declaration:</span> {{post.post_title | truncatesmart:60}}</h2>
                    {% elif post.post_type == 'TH' %}
                    <h2><span class="mobile-header-shadow-TH">Theory:</span> {{post.post_title | truncatesmart:60}}</h2>
                    {% elif post.post_type == 'QU' %}
                    <h2><span class="mobile-header-shadow-QU">Question:</span> {{post.post_title | truncatesmart:60}}</h2>
                    {% endif %}
                </a>
            </div>
        </div>
    </div> 
    <div class="display">
        {% if user.is_authenticated %}
        <a href="/logout/"><div class="logo"></div></a>
        {% else %}
        <a href="/create-profile/"><div class="logo"></div></a>
        {% endif %}
        <div class="pingster"><h1><span id="ping-reading">???</span></h1></div>
        <div class="contrib-users">
            <span class="contrib-label"><h1>Chat contributers:</h1></span>
            <span id="contrib-users-list">
                {% for contributer in contributers %}
                <span class="contrib-user contrib-user-color-{{contributer.message_author.color}}"><div class="online-beacon"></div><h1></h1></span>
                {% endfor %}
            </span>
        </div>
        <div class="mobilesters">
            <div class="mobile-pingster"><h1>Ping: <span id="ping-reading-mobile">???</span></h1></div>
            <div class="mobile-onlinester"><div class="onlinester-beacon"><span id="online-reading-mobile">?</span></div><h1>Online</h1></div>
        </div>
        <div class="chat" id="chat">
            <div class="messages" id="messages-container">
                {% for message in messages %}
                {% if message.message_author == user %}
                <div class="message{% if message.message_author.color == 'DR' %} VIPmessage{% endif %}">
                    <div class="message-body">
                        <div class="text">
                            <div class="author"><span class="author-shadow-{{ message.message_author.color }}">{{ message.message_author }}</span></div>
                            <div class="content editable" id="msg_{{ message.message_code }}"><div class="actual-content-wrapper"><span class="message-actual-content editable-content" contenteditable="plaintext-only" contenteditable="true" enterkeyhint="send">{{ message | replace_mentions | safe | linebreaksbr }}</span></div></div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="message{% if message.message_author.color == 'DR' %} VIPmessage{% endif %}">
                    <div class="message-body">
                        <div class="text">
                            <div class="author"><span class="author-shadow-{{ message.message_author.color }}">{{ message.message_author }}</span></div>
                            <div class="content neutral" id="msg_{{ message.message_code }}"><span class="message-tag leading-tag dislikable-excited color-{{ message.message_author.color }}">{</span><div class="actual-content-wrapper"><span class="message-actual-content">{{ message | replace_mentions | safe | linebreaksbr }}</span></div><span class="message-tag trailing-tag likable-excited color-{{ message.message_author.color }}">}</span><sup>{{ message.message_score }}</sup></div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <button id="new-messages-alert" class="new-messages-alert hidden">
                <span><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill="#FD4456" d="M246.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 402.7 361.4 265.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-160 160zm160-352l-160 160c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 210.7 361.4 73.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3z"/></svg></span>
            </button>
            <button id="disconnect-alert" class="disconnect-alert hidden">
                <span><p id="disconnect-alert-text">Reconnect</p><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M463.5 224H472c13.3 0 24-10.7 24-24V72c0-9.7-5.8-18.5-14.8-22.2s-19.3-1.7-26.2 5.2L413.4 96.6c-87.6-86.5-228.7-86.2-315.8 1c-87.5 87.5-87.5 229.3 0 316.8s229.3 87.5 316.8 0c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0c-62.5 62.5-163.8 62.5-226.3 0s-62.5-163.8 0-226.3c62.2-62.2 162.7-62.5 225.3-1L327 183c-6.9 6.9-8.9 17.2-5.2 26.2s12.5 14.8 22.2 14.8H463.5z"/></svg></span>
            </button>
        </div>
        <div class="chatbar-container">
            <div class="chat-bar">
                <p id="chat-input" contenteditable="true" enterkeyhint="send" contenteditable="plaintext-only" placeholder="Type in chat..."></p><!-- CSS attributes seem a bit clunkly, try integrate the JQuery solution to contenteditable placeholders if need be -->
                <button id="chat-submit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/></svg></button>
            </div>
            <div class="typing-indicator hidden" id="typing-indicator"><span>bobgoodman</span> is typing...</div>
        </div>
    <!--
        <div class="anonymous-screen">
            <div class="anonymous-poem">
                <h1>You are shadowclung,</h1>
                <h1>Thus, to cast your tounge:</h1>
                <a href="/create-profile/"><h1>Draw your name,</h1></a>
                <a href="/create-profile/"><h1>Sign tribute: the e-mail,</h1></a>
                <a href="/create-profile/"><h1>Fet the dualfold seals right,</h1></a>
                <a href="/create-profile/"><h1>To cure your anonysight.</h1></a>
                <h1>Then, cast your tounge.</h1>
            </div>
        </div>
    -->
    </div>
    {{ post.post_code|json_script:"post-code" }}
    <audio id="notif-audio" src='{% static "audio/notif.mp3" %}'></audio>
</body>
<script src="
https://cdn.jsdelivr.net/npm/howler@2.2.4/dist/howler.min.js
"></script>
<script>
    var notifSound = new Howl({
      src: ['{% static "audio/void_message.wav" %}'],
      html5: true
    });
</script>
<script src="{% static 'js/comms.js' %}"></script>
</html>