{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.svg' %}" sizes="196x196">
    <title>Create your Profile - Bantopia</title>
</head>
<body>
    <div class="create-container">
        <div class="create-title">
            <h1>Create a quick profile, or <a href="/login/">log in</a></h1>
        </div>
        <div class="messages" id="messages-container">
            <div class="message">
                <div class="message-body">
                    <div class="text">
                        <div class="author"><span class="author-shadow-OR">derek2887</span></div>
                        <div class="message-content neutral"><span class="message-tag leading-tag dislikable-excited color-OR">{</span><span class="message-actual-content">Choas reigns...</span><span class="message-tag trailing-tag likable-excited color-OR">}</span><sup>-8</sup></div>
                    </div>
                </div>
            </div>
            <div class="message">
                <div class="message-body">
                    <div class="text">
                        <div class="author"><span class="author-shadow-OR">samspam</span></div>
                        <div class="message-content neutral"><span class="message-tag leading-tag dislikable-excited color-OR">{</span><span class="message-actual-content">Oh gosh, derek's gettting metephoric again.</span><span class="message-tag trailing-tag likable-excited color-OR">}</span><sup>23</sup></div>
                    </div>
                </div>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="content">
                <div class="form-area">
                    <div class="create-field-area">
                        <div class="input-field">
                            <input type="text" id="create-name" name="create-name" autocomplete="off" placeholder="Display Name">
                        </div>
                        <div class="input-field">
                            <input type="password" id="create-password" name="create-password" autocomplete="off" placeholder="Password">
                        </div>
                        <div class="input-field">
                            <input type="password" id="create-confirm" name="create-confirm-password" autocomplete="off" placeholder="Confirm Password">
                        </div>
                    </div>
                    {% if message %}
                    <div class="create-support-message"><p>{{ message }}</p></div>
                    {% else %}
                    <div class="create-support-message"><p>{{ message }}</p></div>
                    {% endif %}
                <!--
                    <div class="create-support-message"><p>Email support@bantopia.com if you need <u>any help whatsoever</u>, we'll try our best.</p></div>
                -->
                </div>
            </div>    
            <div class="create-button-container">
                <button type="submit" class="create-button" id="create-submit" value="Create your profile">
                    <span id="create-text">Click here to join the utter chaos!</span>
                </button>
            </div>
        </form>
    </div>
</body>
<script src="../../js/create.js"></script>
</html>