{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>The Lyceum - Enter</title>
</head>
<body>
    <div class="create-container">
        <!--<h1 class="big-text">Create</h1>--->
        <form method="post">
            {% csrf_token %}
            <div class="content">
                <div class="back-header">
                    <a href="/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"/></svg></a>
                </div>
                <div class="form-area">
                    <div class="create-field-area">
                        <div class="input-field">
                            <input type="text" id="create-name" name="create-name" autocomplete="off">
                            <label for="create-name"><span class="input-your">Your</span> Display Name</label>
                        </div>
                        <div class="input-field">
                            <input type="text" id="create-email" name="create-email" autocomplete="off">
                            <label for="create-email"><span class="input-your">Your</span> Email</label>
                        </div>
                        <div class="input-field">
                            <input type="password" id="create-password" name="create-password" autocomplete="off">
                            <label for="create-password"><span class="input-your">Your</span> Password</label>
                        </div>
                        <div class="input-field">
                            <input type="password" id="create-confirm" name="create-confirm-password" autocomplete="off">
                            <label for="create-confirm">Confirm <span class="input-your">Your</span> Password</label>
                        </div>
                    </div>
                    {% if message %}
                    <div class="error-message"><p>{{message}}</p></div>
                    {% endif %}
                </div>
            </div>    
            <div class="create-button-container">
                <button type="submit" class="login-and-create-button" id="create-submit" value="Create your profile">
                    <span id="create-text"><span class="profile-submit-tags">{</span>Click to Create<span class="profile-submit-tags">}</span></span>
                </button>
            </div>
        </form>
    </div>
</body>
<script src="../../js/create.js"></script>
</html>