{% load static %}
{% load poll_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Chat and argue with people across the globe regarding any topic you choose, from video-games to bio-medical science. Welcome to Bantopia, the Choice Arena." />
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><!--Get rid of a bunch of these links-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_package/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_package/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_package/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_package/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon_package/safari-pinned-tab.svg' %}" color="#f28500">
    <meta name="msapplication-TileColor" content="#f28500">
    <meta name="theme-color" content="#ffffff">
    <title>{{ tab_text }} | Bantopia</title>
</head>
<body>
    <div class="navbar-container">
        <div class="navbar">
            <a href="/" class="logo"><img src="{% static 'images/logo.svg' %}" alt="SHOWGAUGE"></a>
            <form method="GET">
                <input type="text" name="search" id="search" placeholder="Enter a search word..." autocomplete="off">
            </form>
        </div>
        <hr class="navline" id="navline">
    </div>
    <div class="content">
        <div class="left">
            <div class="sort">
                <a id="new" href="/"><span>New</span></a>
                <a id="trending" href="/?sort=trending"><span>Trending</span></a>
                <a id="controversial" href="/?sort=controversial"><span>Controversial</span></a>                
                <a href="/post/write" class="post-link"><span>#Post</span></a>
                {% if user.is_authenticated %}
                <a href="/{{ user.display_name }}/dashboard" class="dashboard-link"><span><span class="dashboard-your">Your<br></span>Dashboard</span></a>
                {% else %}
                <div class="account-links">
                    <a href="login/"><span>Log in</span></a>
                    <a href="create-profile/"><span>Create Profile</span></a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="middle">
            <div class="search-term-container hidden" id="search-term-container">
                <h1>Search Word: <span class="search-quote">"</span><span id="search-term"></span><span class="search-quote">"</span></h1>
            </div>
            <div class="post-scroll new-rail" id="post-scroll">
                {% for post in posts %}
                <h1 class="post-label"><i>#{{ forloop.counter }}</i></h1>
                <a href="/{{post.post_code}}" class="post">
                    {% if post.post_type == "DE" %}
                    <h1 class="post-title"><span class="post-title-de">Declaration:</span> {{post.post_title}}</h1>
                    <div class="post-bar">
                        <h2 class="post-author">By <span class="post-author-name">{{post.post_author_name}}</span></h2>
                        <div class="messages-box">
                            <h3 class="messages">{{post.post_number_of_messages}}</h3>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M64 0C28.7 0 0 28.7 0 64V352c0 35.3 28.7 64 64 64h96v80c0 6.1 3.4 11.6 8.8 14.3s11.9 2.1 16.8-1.5L309.3 416H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64z"/></svg>
                        </div>
                    </div>
                    <hr class="post-div">
                    <h4 class="post-paragraph">{{post.post_desc | truncate:40}}</h4>
                    {% elif post.post_type == "TH" %}
                    <h1 class="post-title"><span class="post-title-th">Theory:</span> {{post.post_title}}</h1>
                    <div class="post-bar">
                        <h2 class="post-author">By <span class="post-author-name">{{post.post_author_name}}</span></h2>
                        <div class="messages-box">
                            <h3 class="messages">{{post.post_number_of_messages}}</h3>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M64 0C28.7 0 0 28.7 0 64V352c0 35.3 28.7 64 64 64h96v80c0 6.1 3.4 11.6 8.8 14.3s11.9 2.1 16.8-1.5L309.3 416H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64z"/></svg>
                        </div>
                    </div>
                    <hr class="post-div">
                    <h4 class="post-paragraph">{{post.post_desc | truncate:40}}</h4>
                    {% endif %}
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="right">
            <div class="history">
                <h1 class="side-title">History</h1>
                <hr class="side-div">
                <ul>
                    {% if visits %}
                        {% for visit in visits %}
                            {% if visit.visit_post.post_type == 'DE' %}
                            <li><span class="DE-shadow-history">{{ visit.visit_post.post_title }}</span></li>
                            {% elif visit.visit_post.post_type == 'TH' %}
                            <li><span class="TH-shadow-history">{{ visit.visit_post.post_title }}</span></li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <div class="history-empty-splash">You have no history, you’re phantomic!</div>
                    {% endif %}
                </ul>
            </div>
            <div class="watchlist">
                <h1 class="side-title">Watchlist</h1>
                <hr class="side-div">
                <ul>
                    {% if watchlist_activity %}
                        {% for activity in watchlist_activity %}
                            {% if activity.watchlist_activity_type == 'ACTIVE' %}
                            <div class="dashboard-activity">
                                <li><span class="gn-orange">{{ activity.watchlist_activity_user.display_name }}</span> is going hyper in <span class="{{ activity.watchlist_activity_post.post_type }}-shadow-watchlist">{{ activity.watchlist_activity_post.post_title }}</span></li>
                            </div>
                            {% elif activity.watchlist_activity_type == 'DECLARE' %}
                            <div class="dashboard-activity">
                                <li>Wow, <span class="gn-orange">{{ activity.watchlist_activity_user.display_name }}</span> declared <span class="{{ activity.watchlist_activity_post.post_type }}-shadow-watchlist">{{ activity.watchlist_activity_post.post_title }}</span></li>
                            </div>
                            {% elif activity.watchlist_activity_type == 'THEORISE' %}
                            <div class="dashboard-activity">
                                <li>Interesting, <span class="gn-orange">{{ activity.watchlist_activity_user.display_name }}</span> theorized that <span class="{{ activity.watchlist_activity_post.post_type }}-shadow-watchlist">{{ activity.watchlist_activity_post.post_title }}</span></li>
                            </div>
                            {% elif activity.watchlist_activity_type == 'ENGAGE' %}
                            <div class="dashboard-activity">
                                <li><span class="gn-orange">{{ activity.watchlist_activity_user.display_name }}</span> dived in <span class="{{ activity.watchlist_activity_post.post_type }}-shadow-watchlist">{{ activity.watchlist_activity_post.post_title }}</span></li>
                            </div>
                            {% elif activity.watchlist_activity_type == 'POPULAR' %}
                            <div class="dashboard-activity">
                                <li><span class="gn-orange">{{ activity.watchlist_activity_user.display_name }}</span> became the main man in <span class="{{ activity.watchlist_activity_post.post_type }}-shadow-watchlist">{{ activity.watchlist_activity_post.post_title }}</span></li>
                            </div>
                            {% elif activity.watchlist_activity_type == 'INFAMOUS' %}
                            <div class="dashboard-activity">
                                <li><span class="gn-orange">{{ activity.watchlist_activity_user.display_name }}</span> is antagonising peopole in <span class="{{ activity.watchlist_activity_post.post_type }}-shadow-watchlist">{{ activity.watchlist_activity_post.post_title }}</span></li>
                            </div>
                            {% elif activity.watchlist_activity_type == 'CONTROVERSIAL' %}
                            <div class="dashboard-activity">
                                <li><span class="gn-orange">{{ activity.watchlist_activity_user.display_name }}</span> is spitting factz in <span class="{{ activity.watchlist_activity_post.post_type }}-shadow-watchlist">{{ activity.watchlist_activity_post.post_title }}</span></li>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <div class="watchlist-empty-splash">Your watchlist is completely empty! I admire the persona!</div>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="bottom">
            <div class="new-user-links">
                {% if user.is_authenticated %}
                <a href="/{{ user.display_name }}/dashboard" class="mobile-dashboard-btn"><span>Dashboard</span></a>
                {% else %}
                <a href="create-profile/" class="mobile-create-profile-btn"><span>Create Profile</span></a>
                <a href="login/" class="mobile-login-btn"><span>Log in</span></a>
                {% endif %}
            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/index.js' %}"></script>
</html>