{% load static %}
{% load poll_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Chat and argue with people across the globe regarding any topic you choose, from video-games to bio-medical science, enjoying the Internet in its purest form. It’s completely anonymous, so create a quick profile and experience it all!" />
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><!--Get rid of a bunch of these links-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_package/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_package/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_package/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_package/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon_package/safari-pinned-tab.svg' %}" color="#f28500">
    <meta name="msapplication-TileColor" content="#f28500">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Bantopia: The Social Forum"/>
    <meta property="og:url" content="https://bantopia.com/">
    <meta property="og:description" content="Chat and argue with people across the globe regarding any topic you choose, from video-games to bio-medical science, enjoying the Internet in its purest form. It’s completely anonymous, so create a quick profile and experience it all!" />
    <meta property="og:image" content="{% static 'images/Poster.png' %}" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://bantopia.com/" />
    <meta property="twitter:title" content="Bantopia: The Social Forum" />
    <meta property="twitter:description" content="Chat and argue with people across the globe regarding any topic you choose, from video-games to bio-medical science, enjoying the Internet in its purest form. It’s completely anonymous, so create a quick profile and experience it all!" />
    <meta property="twitter:image" content="{% static 'images/Poster.png' %}" />
    <title>Central Nexus | Bantopia</title>
</head>
<body>
    <div class="navbar-container">
        <div class="navbar">
        </div>
        <hr class="navline" id="navline">
    </div>
    <div class="content">
        <div class="left">
            <div class="sort new-border" id="sort">
                <a id="new" href="/"><span>New</span></a>
                <a id="trending" href="/?sort=trending"><span>Trending</span></a>
                <a id="controversial" href="/?sort=controversial"><span>Controversial</span></a>                
                <a href="/post/write" class="post-link"><span>#Post</span></a>
                {% if user.is_authenticated %}
                <a href="≈" class="dashboard-link"><span><span class="dashboard-your">Your<br></span>Dashboard</span></a>
                <a href="/{{ user.display_name }}/dashboard" id="splash-text">{{ splash_text }}</a>
                {% else %}
                <div class="account-links">
                    <a href="login/"><span>Log in</span></a>
                    <a href="create-profile/"><span>Create Profile</span></a>
                </div>
                <a href="create-profile/" id="splash-text">{{ splash_text }}</a>
                {% endif %}
            </div>
        </div>
        <div class="middle">
            <div class="primordial-container">
                <a href="/ws/{{posts.0.post_code}}/{{posts.0.post_slug}}/chat" class="primordial" id="pst_{{posts.0.post_code}}">
                    <h1 id="time-ago">1 hour ago</h1>
                    <h1 id="message-crier">New Message</h1>
                </a>
            </div>
            <!--
            <div class="post-scroll">
                {% for post in posts %}
                <div href="" class="post-box">
                    <div class="post-label-box">
                        <h1 class="post-label"><i>#{{ forloop.counter }}</i></h1>
                        <div class="right-label-side">
                            <div class="right-label-face"></div>
                        </div>
                        <div class="bottom-label-side">
                            <div class="bottom-label-face"></div>
                        </div>
                    </div>
                    <div href="" class="post-box">
                        <a href="/ws/{{post.post_code}}/{{post.post_slug}}/chat" class="post nick-left-in nick-right-in border" id="pst_{{post.post_code}}">
                            <div class="top-stats">
                                {% if post.last_message.datetime_sent %}
                                <div class="last-active-stat"><span class="last-active-crier">Last Active: </span><span class="last-active-time">{{ post.last_message.datetime_sent|convert_to_datetime|briefLongAgo }}</span></div>
                                {% else %}
                                <div class="last-active-stat"><span class="last-active-crier">Last Active: </span><span class="last-active-time">{{ post.post_datetime_created|briefLongAgo }}</span></div>
                                {% endif %}
                                <div class="typing-stat"><span></span></div>
                                <div class="message-recoil-stat"><div class="recoil-bar"></div></div>
                            </div>
                            {% if post.post_type == "DE" %}
                            <h1 class="post-title"><span class="post-title-DE">Declaration:</span> {{post.post_title | truncatesmart:60}}</h1>
                            {% elif post.post_type == "TH" %}
                            <h1 class="post-title"><span class="post-title-TH">Theory:</span> {{post.post_title | truncatesmart:60}}</h1>
                            {% elif post.post_type == "QU" %}
                            <h1 class="post-title"><span class="post-title-QU">Question:</span> {{post.post_title | truncatesmart:60}}</h1>
                            {% endif %}
                            <div class="post-counter-ticker-wrapper">
                                <div class="post-counter-ticker">
                                    {% if post.counters %} 
                                        <h2 class="post-counter">{% for i in 12|times %}{{ post.counters|safe }} {% endfor %}</h2>
                                    {% else %}
                                        <h2 class="post-counter">{{ post.ticker_text|safe }}</h2>
                                    {% endif %}
                                </div>
                            </div>
                            <hr class="post-div">
                            <h4 class="post-paragraph">{{post.post_desc | truncate:40}}</h4>
                            {% if post.last_message %}
                                {% if post.pk in user_notified_set or not user.is_authenticated %}
                                <div class="message-bar"><img src="{% static 'images/icon.svg' %}" alt="" class="post-icon post-icon-active"><h1 class="recent-message"><span class="recent-message-crier">New Message</span><span class="recent-message-body">:  <span class="recent-message-bracket">{</span><span class="recent-message-content">{{ post.last_message.content|truncatesmart:35 }}</span><span class="recent-message-bracket">}</span><span></span></h1></div>
                                {% else %}
                                <div class="message-bar"><img src="{% static 'images/icon.svg' %}" alt="" class="post-icon"><h1 class="recent-message"><span class="recent-message-crier">Last Message</span><span class="recent-message-body">:  <span class="recent-message-bracket">{</span><span class="recent-message-content">{{ post.last_message.content|truncatesmart:35 }}</span><span class="recent-message-bracket">}</span></span></h1></div>
                                {% endif %}
                            {% else %}
                            <div class="message-bar"><h1 class="recent-message"><span>This chat is totally empty!</span></h1></div>
                            {% endif %}
                            <div class="right-post-side">
                                <div class="right-post-face"></div>
                            </div>
                            <div class="bottom-post-side">
                                <div class="bottom-post-face"></div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            -->
        </div>
        <div class="right">
            <div class="history">
                <h1 class="side-title">History</h1>
                <hr class="side-div">
                <ul>
                    {% if visits %}
                        {% for visit in visits %}
                            {% if visit.visit_post.post_type == 'DE' %}
                            <li><a href="/ws/{{ visit.visit_post.post_code }}/{{ visit.visit_post.post_slug }}/chat"><span class="DE-shadow-history">{{ visit.visit_post.post_title | truncatesmart:60 }}</span></a></li>
                            {% elif visit.visit_post.post_type == 'TH' %}
                            <li><a href="/ws/{{ visit.visit_post.post_code }}/{{ visit.visit_post.post_slug }}/chat"><span class="TH-shadow-history">{{ visit.visit_post.post_title | truncatesmart:60 }}</span></a></li>
                            {% elif visit.visit_post.post_type == 'QU' %}
                            <li><a href="/ws/{{ visit.visit_post.post_code }}/{{ visit.visit_post.post_slug }}/chat"><span class="QU-shadow-history">{{ visit.visit_post.post_title | truncatesmart:60 }}</span></a></li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <div class="history-empty-splash">You have no history, you’re phantomic!</div>
                    {% endif %}
                </ul>
            </div>
            <div class="watchlist">
                <h1 class="side-title">Watchlist</h1>
                <hr class="side-div">
                <ul>
                    {% if watchlist_activity %}
                        {% for activity in watchlist_activity %}
                            {% if activity.watchlist_activity_type == 'ACTIVE' %}
                            <div class="dashboard-activity">
                                <li><a href="/ws/{{ activity.watchlist_activity_post.post_code }}/{{ activity.watchlist_activity_post.post_slug }}/chat"><span class="gn-orange">{{ activity.watchlist_activity_user.display_name }}</span> is going hyper in <span class="{{ activity.watchlist_activity_post.post_type }}-shadow-watchlist watchlist-bold">{{ activity.watchlist_activity_post.post_title | truncatesmart:60 }}</span></a></li>
                            </div>
                            {% elif activity.watchlist_activity_type == 'DECLARE' %}
                            <div class="dashboard-activity">
                                <li><a href="/ws/{{ activity.watchlist_activity_post.post_code }}/{{ activity.watchlist_activity_post.post_slug }}/chat">Wow, <span class="gn-orange">{{ activity.watchlist_activity_user.display_name }}</span> declared <span class="{{ activity.watchlist_activity_post.post_type }}-shadow-watchlist watchlist-bold">{{ activity.watchlist_activity_post.post_title | truncatesmart:60 }}</span></a></li>
                            </div>
                            {% elif activity.watchlist_activity_type == 'THEORISE' %}
                            <div class="dashboard-activity">
                                <li><a href="/ws/{{ activity.watchlist_activity_post.post_code }}/{{ activity.watchlist_activity_post.post_slug }}/chat">Interesting, <span class="gn-orange">{{ activity.watchlist_activity_user.display_name }}</span> theorized that <span class="{{ activity.watchlist_activity_post.post_type }}-shadow-watchlist watchlist-bold">{{ activity.watchlist_activity_post.post_title | truncatesmart:60 }}</span></a></li>
                            </div>
                            {% elif activity.watchlist_activity_type == 'ASK' %}
                            <div class="dashboard-activity">
                                <li><a href="/ws/{{ activity.watchlist_activity_post.post_code }}/{{ activity.watchlist_activity_post.post_slug }}/chat">Fascinating, <span class="gn-orange">{{ activity.watchlist_activity_user.display_name }}</span> just asked <span class="{{ activity.watchlist_activity_post.post_type }}-shadow-watchlist watchlist-bold">{{ activity.watchlist_activity_post.post_title | truncatesmart:60 }}</span></a></li>
                            </div>
                            {% elif activity.watchlist_activity_type == 'ENGAGE' %}
                            <div class="dashboard-activity">
                                <li><a href="/ws/{{ activity.watchlist_activity_post.post_code }}/{{ activity.watchlist_activity_post.post_slug }}/chat"><span class="gn-orange">{{ activity.watchlist_activity_user.display_name }}</span> dived in <span class="{{ activity.watchlist_activity_post.post_type }}-shadow-watchlist watchlist-bold">{{ activity.watchlist_activity_post.post_title | truncatesmart:60 }}</span></a></li>
                            </div>
                            {% elif activity.watchlist_activity_type == 'POPULAR' %}
                            <div class="dashboard-activity">
                                <li><a href="/ws/{{ activity.watchlist_activity_post.post_code }}/{{ activity.watchlist_activity_post.post_slug }}/chat"><span class="gn-orange">{{ activity.watchlist_activity_user.display_name }}</span> became the main man in <span class="{{ activity.watchlist_activity_post.post_type }}-shadow-watchlist watchlist-bold">{{ activity.watchlist_activity_post.post_title | truncatesmart:60 }}</span></a></li>
                            </div>
                            {% elif activity.watchlist_activity_type == 'INFAMOUS' %}
                            <div class="dashboard-activity">
                                <li><a href="/ws/{{ activity.watchlist_activity_post.post_code }}/{{ activity.watchlist_activity_post.post_slug }}/chat"><span class="gn-orange">{{ activity.watchlist_activity_user.display_name }}</span> is antagonising peopole in <span class="{{ activity.watchlist_activity_post.post_type }}-shadow-watchlist watchlist-bold">{{ activity.watchlist_activity_post.post_title | truncatesmart:60 }}</span></a></li>
                            </div>
                            {% elif activity.watchlist_activity_type == 'CONTROVERSIAL' %}
                            <div class="dashboard-activity">
                                <li><a href="/ws/{{ activity.watchlist_activity_post.post_code }}/{{ activity.watchlist_activity_post.post_slug }}/chat"><span class="gn-orange">{{ activity.watchlist_activity_user.display_name }}</span> is spitting factz in <span class="{{ activity.watchlist_activity_post.post_type }}-shadow-watchlist watchlist-bold">{{ activity.watchlist_activity_post.post_title | truncatesmart:60 }}</span></a></li>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <div class="watchlist-empty-splash">Your watchlist is completely empty! I admire the persona!</div>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="home-ping">Ping: <span class="home-ping-reading" id="home-ping-reading">56ms</span></div>
        <div class="bottom">
            <div class="new-user-links">
                {% if user.is_authenticated %}
                <a href="/{{ user.display_name }}/dashboard" class="mobile-dashboard-btn"><span>Dashboard</span></a>
                {% else %}
                <a href="create-profile/" class="mobile-create-profile-btn"><span>Create Profile</span></a>
                <a href="login/" class="mobile-login-btn"><span>Log in</span></a>
                {% endif %}
            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/index.js' %}"></script>
<script src="
https://cdn.jsdelivr.net/npm/howler@2.2.4/dist/howler.min.js
"></script>
<script>
    var notifSound = new Howl({
      src: ['{% static "audio/notif.mp3" %}'],
      html5: true
    });
</script>
</html>