{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Chat and Chat and argue with people across the globe regarding any topic you choose, from video-games to bio-medical science, enjoying the Internet in its purest form. It’s completely anonymous, so create a quick profile and experience it all!" />
    <link rel="stylesheet" href="{% static 'styles/post.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_package/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_package/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_package/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_package/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon_package/safari-pinned-tab.svg' %}" color="#f28500">
    <meta name="msapplication-TileColor" content="#f28500">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Bantopia: The Social Forum"/>
    <meta property="og:url" content="https://bantopia.com/">
    <meta property="og:description" content="Chat and argue with people across the globe regarding any topic you choose, from video-games to bio-medical science, enjoying the Internet in its purest form. It’s completely anonymous, so create a quick profile and experience it all!" />
    <meta property="og:image" content="{% static 'images/Poster.png' %}" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://bantopia.com/" />
    <meta property="twitter:title" content="Bantopia: The Social Forum" />
    <meta property="twitter:description" content="Chat and argue with people across the globe regarding any topic you choose, from video-games to bio-medical science, enjoying the Internet in its purest form. It’s completely anonymous, so create a quick profile and experience it all!" />
    <meta property="twitter:image" content="{% static 'images/Poster.png' %}" />
    <meta name="theme-color" content="#ffffff">
    <title>{{ tab_text }} | Bantopia</title>
</head>
<body>
    <div class="write-page">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="left">
                <a href="/" class="back-link">Back</a>
                <a class="draft-btn"><input type="submit" name="draft-btn" id="draft" value="Draft"></a>
            </div>
            <div class="write-middle">
                <div class="middle-header">
                    <a href="/post/write" class="write-link active-header"><h1>Write</h1></a>
                    <a href ="/post/your-drafts" class="drafts-link"><h1>Drafts</h1></a>
                    <a href ="/post/your-posts" class="posts-link"><h1>Posts</h1></a>
                </div>
                <div class="middle-header-mobile">
                    <a href ="/" class="back-link-mobile"><h1>Back</h1></a>
                    <a href="/post/write" class="write-link active-header"><h1>Write</h1></a>
                    <a href ="/post/your-drafts" class="drafts-link"><h1>Drafts</h1></a>
                    <a href ="/post/your-posts" class="posts-link"><h1>Posts</h1></a>
                </div>
                <div class="write-middle-body">
                    <div class="alignment-container">
                        {% if draft.draft_type == 'DE' %}
                        <div class="post-input">
                            <label for="radio" id="radio-label">Type: </label>
                            <div class="radio-options">
                                <div class="radio-option">
                                    <input type="radio" name="type" value="DE" id="decleration" autocomplete="off" checked>
                                    <label for="decleration">Decleration</label><br>
                                </div>
                                <div class="radio-option">
                                    <input type="radio" name="type" value="TH" id="theory" autocomplete="off">
                                    <label for="theory">Theory</label><br>     
                                </div>
                            </div>
                        </div>
                        {% elif draft.draft_type == 'TH' %}
                        <div class="post-input">
                            <label for="radio" id="radio-label">Type: </label>
                            <div class="radio-options">
                                <div class="radio-option">
                                    <input type="radio" name="type" value="DE" id="decleration" autocomplete="off">
                                    <label for="decleration">Decleration</label><br>
                                </div>
                                <div class="radio-option">
                                    <input type="radio" name="type" value="TH" id="theory" autocomplete="off" checked>
                                    <label for="theory">Theory</label><br>     
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="post-input">
                            <div class="radio-options">
                                <div class="radio-option">
                                    <input type="radio" name="type" value="DE" id="decleration" autocomplete="off" checked>
                                <label for="decleration">Decleration</label><br>
                                </div>
                                <div class="radio-option">
                                    <input type="radio" name="type" value="TH" id="theory" autocomplete="off">
                                    <label for="theory">Theory</label><br>     
                                </div>
                                <div class="radio-option">
                                    <input type="radio" name="type" value="QU" id="question" autocomplete="off">
                                    <label for="question">Question</label><br>     
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="post-input">
                            <label for="title" class="char-label">Title: </label>
                            <label for="title" class="char-mobile-label">Title</label>
                            <input type="text" name="title" id="title" autocomplete="off" placeholder="e.g. Cats are better than dogs" value="{{ draft.draft_title }}">
                        </div>
                        <div class="post-input" id="post-input-text">
                            <label for="text" class="char-label">Text: </label>
                            <label for="text" class="char-mobile-label">Text</label>
                            <textarea name="text" id="text" maxlength="3000" autocomplete="off" placeholder="e.g. Let's be real, in the context of modern society, cats are better than dogs. The only question is by how much...">{{ draft.draft_desc|linebreaksbr }}</textarea>
                        </div>
                        <div class="post-input">
                            <label for="tags" class="char-label">Tags: </label>
                            <label for="tags" class="char-mobile-label">Tags</label>
                            <input type="text" name="tags" id="tags" autocomplete="off" placeholder="e.g. #cats, #dogs, #debate" value="{{ draft.draft_tags }}">
                        </div>
                        {% if user.is_superuser %}
                        <div class="post-input">
                            <label for="tags" class="char-label">User: </label>
                            <label for="tags" class="char-mobile-label">User</label>
                            <input type="text" name="user" id="user" autocomplete="off">
                        </div>
                        {% endif %}
                    </div>
                    <div class="mobile-bottom">
                        <div class="mobile-bottom-layer-1">
                            <a class="delete-btn-mobile"><input type="submit" name="delete-btn" id="delete" value="Delete"></a>
                            <a class="draft-btn-mobile"><input type="submit" name="draft-btn" id="draft" value="Draft"></a>
                        </div>
                        <div class="mobile-bottom-layer-2">
                            <a class="post-btn-mobile"><input type="submit" name="post-btn" id="post" value="Post"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <a class="delete-btn"><input type="submit" name="delete-btn" id="delete" value="Delete"></a>
                <a class="post-btn"><input type="submit" name="post-btn" id="post" value="Post"></a>
            </div>
        </form>
    </div>
</body>
</html>