* {
    margin: 0;
    padding: 0;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;  
    max-width: 100%;
    overflow: visible;
}

body {
    overflow-x: hidden;
    background-color: white;
}

/* width */
::-webkit-scrollbar {
    display: none;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    display: none;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    display: none;
}

.hidden {
    display: none !important; 
}

.create-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border: 8px solid #f28500;
    box-sizing: border-box;
    overflow: hidden;
}

.messages {
    opacity: 25%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    width: 100%;
    filter: blur(5px);
    display: none; /* Press this to see the simulation of a floating create screen */
}

.message {
    display: flex;
    align-items: center;
    padding: 0 0 0 1.8vw;
}

.message:last-child {
    margin-bottom: 30px;
}

.message {
    font-family: 'Poppins', sans-serif;
    font-size: 5vw;
    word-wrap: break-word;
    color: #000;
}

.command-border {
    border-color: #f28500 !important;
}

.message-body {
    font-weight: 600;
}

.author {
    font-weight: 700;
}

.author-shadow-OR {
    box-shadow: inset 0 -10px 0 #F28500;
}

.author-shadow-BL {
    box-shadow: inset 0 -10px 0 #00baf2;
}

.author-shadow-GR {
    box-shadow: inset 0 -10px 0 #0fb300;
}

.author-shadow-RE {
    box-shadow: inset 0 -10px 0 #fb3a3a;
}

.author-shadow-PU {
    box-shadow: inset 0 -10px 0 #5934ff;
}

.author-shadow-PI {
    box-shadow: inset 0 -10px 0 #cb0cd1;
}

.author-shadow-MA {
    box-shadow: inset 0 -10px 0 #ac0000;
}

.author-shadow-AQ {
    box-shadow: inset 0 -10px 0 #35d6b3;
}

.message-content {
    text-indent: -0.1em;
    line-height: 1.6em;
}

.message-content:hover {
    cursor: pointer;
}

.command-text {
    color: #00baf2;
}

.message-tag {  
    color: #F28500;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.color-OR {
    color: #F28500;
}

.color-BL {
    color: #00baf2;
}

.color-GR {
    color: #0fb300;
}

.color-RE {
    color: #fb3a3a;
}

.color-PU {
    color: #5934ff;
}

.color-PI {
    color: #cb0cd1;
}

.color-MA {
    color: #ac0000;
}

.color-AQ {
    color: #35d6b3;
}

/* ------------------ Message States ------------------ */

.neutral:hover .leading-tag {
    color: rgba(255, 0, 0, 0.6);
}

.neutral:hover .trailing-tag {
    /*color: rgb(27, 214, 27);*/
    color: rgba(27, 214, 27, 0.6);
}

.likable-excited:hover {
    color: rgb(27, 214, 27) !important;
}

.liked {
    color: rgb(15, 206, 15, 0.6);
}

.disliked {
    /*color: #ff0000;*/
    color: rgba(255, 0, 0, 0.6);
}

.dislikable-excited:hover {
    color: rgb(255, 0, 0) !important;
}

/* ----------------------------------------------------- */

.message sup {
    margin: 0 5px;
    align-self: flex-start;
    pointer-events: none;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.message-user {
    display: flex;
}

.text {
    display: flex;
    flex-direction: column;
    max-width: 73vw;
}

.message-score { /* (UNUSED) score on the far right side of the page */
    display: none;
    margin-left: auto;
}

.message-score h1 {
    font-size: 20px;
    margin-right: 10px;
}

.create-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.create-title {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-right: 100px solid #f28500;
    box-sizing: border-box;
}

.create-title h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    color: #f2850077;
    margin-right: 30px;
}

.create-title h1 a {
    color: #f2850077;
}

.create-title h1 a:hover {
    color: #000;
    text-decoration-color: #f2850077;
}

.login-title {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-right: 100px solid #00baf2;
    box-sizing: border-box;
}

.login-title h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    color: #00baf277;
    margin-right: 30px;
}

.login-title h1 a {
    color: #00baf277;
}

.login-title h1 a:hover {
    color: #000;
    text-decoration-color: #00baf277;
}

.form-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    min-height: 0;
    overflow-y: scroll;
    position: relative;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    border: 8px solid #00baf2;
    box-sizing: border-box;
}

.login-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.create-field-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    width: 100%;
    gap: 50px;
}

.create-field-area .input-field {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 80%;
}

.create-field-area .input-field input {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border: none;
    width: 100%;
    background-color: #fff;
    border: 0.7vw solid #f2850077;
    padding: 2px;
    box-sizing: border-box;
}

.create-field-area .input-field input::-webkit-credentials-auto-fill-button {
    position: absolute;
    right: 0;
}

.create-field-area .input-field input:hover ~ label span {
    color: #F28500;
}
/*
.create-field-area .input-field input:focus {
    border-bottom: 8px solid #f28500;
}
*/

.create-field-area .input-field input:focus ~ label span {
    color: #F28500;
}

.create-field-area .input-field input {
    font-size: 5vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #f2850077;
    text-align: center;
}

.create-field-area .input-field label span {
    color: rgb(0, 186, 242);
}

.create-field-area .input-field input {
    outline: none;
}

.create-field-area .input-field input::placeholder {
    color: #f2850077;
}

.erroneous-input::placeholder {
    color: #ff000077 !important;
}

.create-button-container {
    display: flex;
    width: 100%;
    align-items: center;
}

.login-field-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-top: auto;
    width: 100%;
}

.login-field-area .input-field {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.login-field-area .input-field input {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border: none;
    width: 100%;
    background-color: #fff;
    padding: 2px;
    box-sizing: border-box;
    border: 0.7vw solid #00baf277;
}

.login-field-area .input-field input::-webkit-credentials-auto-fill-button {
    position: absolute;
    right: 0;
}


.login-field-area .input-field input {
    font-size: 5vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #00baf277;
    text-align: center;
}

.login-field-area .input-field input {
    outline: none;
}

.login-field-area .input-field label {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.login-field-area .input-field input::placeholder {
    color: #00baf277;
}

.create-support-message {
    display: flex;
    margin-bottom: auto;
}

.create-support-message p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2vw;
    text-align: center;
    color: #f2850077;
}

.login-support-message {
    display: flex;
    margin-bottom: auto;
}

.login-support-message p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2vw;
    text-align: center;
    color: #00baf277;
}

.login-button-container {
    width: 40%;
}

.login-button,
.create-button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 20px;
}

.login-button,
.create-button {
    font-size: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

.login-button {
    border: none;
    color: #00baf277;
    border-left: 100px solid #00baf2;
}

.create-button {
    border: none;
    color: #f2850077;
    border-left: 100px solid #f28500;
}

.login-button,
.create-button {
    background-color: white;
}

.login-button span,
.create-button span {
    cursor: pointer;
    white-space: nowrap;
}

.login-button span:hover,
.create-button span:hover {
    color: #F28500;
}

.login-button span:hover,
.create-button span:hover {
    color: #f28500;
    opacity: 100%;
}

/*
button[type="submit"] span {
    box-shadow: inset 0 -22px 0 #F28500;
}

button[type="submit"]:hover > span {
    box-shadow: inset 0 -22px 0 #08f200;
}
*/

.dashboard-back svg{
    margin: 20px 0px 0px 60px;
    width: 8vw;
    filter: invert(50%) sepia(45%) saturate(5171%) hue-rotate(16deg) brightness(112%) contrast(101%);
    opacity: 50%;
}

.dashboard-container {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: #f28500;
}

.dashboard-top {
    display: flex;
    align-items: center;
    height: 44px;
    box-sizing: border-box;
    background-color: white;
}

.dashboard-top {
    border-bottom: 0.4vw solid #F28500;
}

.dashboard-bottom {
    min-height: 0;
}

.dashboard-back {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    background-color: white;
}

.dashboard-back h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.dashboard-back:hover > h1 .dashboard-tag {
    color: #F28500;
}

.dashboard-title {
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dashboard-title h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    box-shadow: inset 0 -1.7vh 0 #F28500;
}

.dashboard-title-menu-mobile {
    display: none;
}

.dashboard-bottom {
    display: flex;
    flex: 1;
    gap: 5px;
}

.dashboard-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: #fff;
}

.dashboard-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #fff;
}

.dashboard-identity {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 250px;
    border-bottom: 0.4vw solid #F28500;
    box-sizing: border-box;
}

.dashboard-identity a {
    text-decoration: none;
    color: #000000;
    margin-top: auto;
}

.dashboard-name {
    font-family: 'Poppins', sans-serif;
    font-size: 4.8vw;
}

.dashboard-name:hover {
    color: #F28500;
    cursor: pointer;
}

.dashboard-name span {
    color: #F28500;
}

.dashboard-colors {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: auto;
    align-items: flex-end;
}

.dashboard-colors form {
    width: 100%;
    height: 100%;
}

.dashboard-colors form {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: auto;
    align-items: start;
    flex: 1;
}

.dashboard-colors button {
    width: 40px;
    height: 20px;
    margin: auto;
    cursor: pointer;
    border: none;
}

.dashboard-info-menu {
    width: 100%;
}

.dashboard-info-menu {
    display: flex;
    list-style: none;
    background-color: #F28500;
    gap: 0.4vw;
}

.dashboard-info-menu li {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.dashboard-info-menu li {
    font-size: 1.6vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background-color: white;
    border-bottom: 0.4vw solid #F28500;
    cursor: pointer;
}

.dashboard-info-menu li:active {
    background-color: #F28500;
    color: #F28500;
}

.dashboard-info-pane {
    display: flex;
    flex-direction: column;
}

.dashboard-info-pane {
    min-height: 0;
}

#dashboard-commands {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-top: 1.2vw;
}

/*
.dashboard-command-group {
    CURRENTLY IRRELEVANT, IF WE DON'T USE THIS CLASS, SIMPLY DELETE ITS HTML, THEN THIS CSS TAG.
}*/

.dashboard-command-title {
    margin-left: 15px;
    margin-bottom: 0.5em;
}

.dashboard-command-title h3 {
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.dashboard-command {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1vw;
    margin-left: 1.2vw;
}

.dashboard-command p {
    font-size: 1.4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.dashboard-command-example span {
    font-weight: 500;
    opacity: 40%;
    
}

/*
.dashboard-command-example-text {
    CURRENTLY IRRELEVANT, IF WE DON'T USE THIS CLASS, SIMPLY DELETE ITS HTML, THEN THIS CSS TAG.
}*/

#dashboard-rules {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.dashboard-rules-description {
    font-size: 1.3vw;
    font-family: 'Poppins', sans-serif;
    margin: 1.1vw;
}

.dashboard-rule {
    margin-bottom: 15px;
}

.dashboard-rule-group h2 {
    font-size: 1.3vw;
    font-family: 'Poppins', sans-serif;
}

.dashboard-rule-title {
    font-weight: 700;
    margin-left: 15px;
}

.dashboard-rule-title span {
    box-shadow: inset 0 -0.6vw 0 #f28500;
}

.dashboard-rule {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 2.4vw;
}

.dashboard-rule p {
    font-size: 1.3vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.dashboard-rules-report-title {
    padding: 15px;
    background-color: black;
    color: white;
}

.dashboard-rules-report-title h2 {
    font-size: 1.3vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.dashboard-rules-report-body {
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
    color: white;
}

.dashboard-rules-report-paragraph {
    margin-bottom: 15px;
}

.dashboard-rules-report-paragraph p,
.dashboard-rules-report-paragraph li {
    font-size: 1.3vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.dashboard-rules-report-paragraph li {
    margin-left: 15px;
}

#dashboard-partners {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.dashboard-partner-group {
    margin-bottom: 30px;
}

#dashboard-partners {
    padding: 1vw 0;
}

.dashboard-partner-main-title {
    margin: 0 15px;
    margin-bottom: 30px;
}

.dashboard-partner-main-title h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    font-weight: 700;
    text-align: center;
    color: #f28500;
}

.dashboard-partner-group h2 {
    font-size: 1.8vw;
    font-family: 'Poppins', sans-serif;
}

.dashboard-partner-title {
    font-weight: 700;
    margin: 0 1vw;
    margin-bottom: 15px;
}

.dashboard-partner {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    margin-right: 1vw;
}

.dashboard-partner p {
    font-size: 1.3vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.dashboard-partner-link {
    font-weight: 600;
    color: #5865F2;
    text-decoration: none
}

.dashboard-watchlist-pane {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    overflow-y: scroll;
    cursor: pointer;
}

.dashboard-watchlist-title {
    margin-top: 15px;
    border-left: 40px solid #F28500;
    padding-left: 15px;
    margin-bottom: 4vh;
    color: rgba(0, 0, 0);
}

.dashboard-watchlist-title h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.4vw;
    font-weight: 800;
}

.dashboard-activity {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5vw;
    padding-left: 10px;
    border-left: 8px solid #F28500;
    margin-right: 15px;
}

.dashboard-activity {
    font-size: 1.4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.dashboard-activity:hover {
    border-left: 20px solid #f28500;
}

.dashboard-activity a {
    color: #000;
    text-decoration: none;
}

.dashboard-logout-link {
    margin-top: auto;
    text-decoration: none;
}

.dashboard-logout-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 4px solid #f28500;
}

.dashboard-logout-button-container h1 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #f28500;
}

.dashboard-invisible {
    border: none;
    color: white;
}

.dashboard-invisible pre {
    font-size: 1.5vw;
}

.dashboard-invisible:hover {
    border: none;
}

.dashboard-lightbold {
    font-weight: 600;
}

.dashboard-bold {
    font-weight: 700;
}

.dashboard-seconds {
    font-size: 2vw;
    font-weight: 600;
}

.dashboard-minutes {
    font-size: 1.6vw;
    font-weight: 600;
}

.dashboard-hours {
    font-weight: 600;
}

.dashboard-orange {
    color: #F28500;
}

.dashboard-green {
    color: #30f200;
}

.dashboard-red {
    color: #d60000;
}

.dashboard-black {
    color: #000;
}

.dashboard-pink {
    color: #cb0cd1;
}

.dashboard-purple {
    color: #9634ff;
}

.dashboard-blue {
    color: #00baf2;
}

.dashboard-rules-li-pink {
    color: #cb0cd1;
}

.dashboard-shadow-DE {
    box-shadow: inset 0 -0.6vw 0 #F28500;
}

.dashboard-shadow-TH {
    box-shadow: inset 0 -0.6vw 0 #30f200;
}

.dashboard-shadow-QU {
    box-shadow: inset 0 -0.6vw 0 #7f24ff;
}

.orange-color {
    background-color: #F28500;
}

.blue-color {
    background-color: #00baf2;
}

.green-color {
    background-color: #0fb300;
}

.red-color {
    background-color: #fb3a3a;
}

.purple-color {
    background-color: #5934ff;
}

.pink-color {
    background-color: #cb0cd1;
}

.maroon-color {
    background-color: #ac0000;
}

.aqua-color {
    background-color: #0adfb1;
}

.edit-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    flex-direction: column;
}

.edit-back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.edit-back {
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    border: 4px solid #F28500;
    box-sizing: border-box;
}

.edit-back h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #000;
}

.edit-back:hover > h1 span {
    color: #F28500;
}

.edit-block {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.edit-block {
    position: relative;
    height: fit-content;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid #F28500;
    border-right: 4px solid #F28500;
    border-left: 4px solid #f28500;
    overflow: scroll;
    box-sizing: border-box;
}

.edit-block h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 3vh;
    padding: 0.5% 0 0 2%;
}

.edit-block form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.edit-attribute {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0.5% 0 0 2%;
    margin-bottom: 40px;
}

.edit-input-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    border-bottom: 4px solid #00baf279;
    width: 90%;
}

.edit-input-container input {
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #f28500;
}

.edit-input-container input:active {
    outline: none;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.edit-input-container label {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
}

.edit-text-input {
    display: flex;
    border: none;
    width: 100%;
}

.edit-text-input {
    background-color: transparent;
    padding: 2px;
    font-size: 18px;
}

.edit-profile-error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.edit-profile-error {
    font-size: 1.8vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgba(250, 59, 59, 0.9);
}

.edit-button-container {
    margin-top: auto;
}

.edit-submit {
    width: 100%;
    cursor: pointer;
}

.edit-submit {
    border: none;
    border-top: 4px solid #f28500;
    border-radius: none;
}

.edit-submit {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2vw;
}

.edit-submit:hover {
    color: #f28500;
}

@media only screen and (max-width: 1380px) {
    #login-submit {
        font-size: 3.2vw;
    }

    .login-field-area {
        width: 100%;
    }
}

@media only screen and (max-width: 960px) {
    body {
        overflow-y: hidden;
        height: 100vh;
        height: 100dvh;
    }

    .back-header {
        position: fixed;
        padding: 2vh 0 0 6vw;
    }

    .back-header a {
        width: fit-content;
    }

    .back-header svg {
        width: 15vw;
        margin: 0;
    }

    .login-container {
        height: 100vh;
        height: 100dvh;
        border-width: 10px;
    }

    .login-title {
        display: flex;
        border-left: none;
        border-right: none;
        justify-content: center;
    }

    .login-title h1 {
        font-size: 7vw;
        text-align: center;
        border: none;
        margin: 0;
        white-space: normal;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }

    .content {
        min-height: 0;
        flex: 1;
        width: 100%;
    }

    .login-field-area {
        gap: 20vw;
    }

    .login-field-area .input-field {
        width: 100%;
    }

    .login-field-area .input-field input {
        border: none;
        width: 100%;
        font-size: 9vw;
        color: #fff;
        background-color: #00baf277;
    }

    .login-field-area .input-field input::placeholder {
        color: #fff;
    }

    .login-field-area .input-field label {
        font-size: 4vw;
    }

    .error-message p {
        font-size: 3.5vw;
    }

    .login-button-container {
        display: flex;
        width: 100%;
    }

    .login-button-container .login-button {
        padding: 0;
    }

    .login-button-container button {
        display: flex;
        width: 100%;
        height: 100%;
        border: none;
        font-style: normal;
        border-left: none;
        border-right: none;
    }

    .login-button-container span {
        letter-spacing: normal;
        font-size: 7vw;
        white-space: normal;
    }

    .login-support-message p {
        margin: 0 10px;
        font-size: 4.5vw;
    }
}

@media only screen and (max-width: 1380px) {
    #create-submit {
        font-size: 3.2vw;
    }

    .create-field-area {
        width: 100%;
    }
}

@media only screen and (max-width: 960px) {
    .create-container {
        height: 100vh;
        height: 100dvh;
        overflow: hidden;
        border-width: 10px;
    }

    .create-title {
        display: flex;
        border-left: none;
        border-right: none;
        justify-content: center;
    }

    .create-title h1 {
        font-size: 7vw;
        text-align: center;
        border: none;
        margin: 0;
        white-space: normal;
    }

    .create-field-area {
        gap: 5vw;
    }

    .create-field-area .input-field {
        width: 100%;
    }

    .create-field-area .input-field input {
        border: none;
        font-size: 10vw;
        color: white;
        background-color: #f2850077;
    }

    .create-field-area .input-field input::placeholder {
        color: white;
    }

    .create-button-container {
        display: flex;
        width: 100%;
    }

    .create-button-container .create-button {
        padding: 0;
    }

    .create-button-container button {
        display: flex;
        width: 100%;
        height: 100%;
        border: none;
        font-style: normal;
        border-left: none;
        border-right: none;
    }

    .create-button-container span {
        letter-spacing: normal;
        font-size: 7vw;
        white-space: normal;
    }

    .create-support-message p {
        margin: 0 10px;
        font-size: 4.5vw;
    }
}

@media only screen and (max-width: 1024px) {
    .mobile-hidden {
        display: none !important;
    }

    .dashboard-top {
        display: flex;
        background-color: #F28500;
        flex: 1;
        flex-direction: row;
        max-height: 70px;
        height: auto;
        border-bottom: 1vw solid #F28500;
    }

    .dashboard-bottom {
        display: flex;
        flex-direction: column;
        min-height: 0;
    }

    .dashboard-left {
        width: 100%;
    }

    .dashboard-right {
        width: 100%;
    }

    .dashboard-back {
        border-right: 1vw solid #F28500;
        background-color: white;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .dashboard-exit-dashboard-word {
        display: none;
    }

    .dashboard-back h1 {
        font-size:  46px;
        font-weight: 600;
    }

    .dashboard-back h1 .dashboard-tag {
        display: none;
    }

    .dashboard-title {
        display: none;
    }

    .dashboard-title-menu-mobile {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }

    .dashboard-title-menu-mobile {
        list-style: none;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: white;
        height: 65px;
        cursor: pointer;
    }

    .dashboard-title-menu-mobile h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 40px;

    }

    .dashboard-left {
        display: flex;
        flex-direction: column;
    }

    .dashboard-info-pane {
        display: flex;
    }

    .dashboard-container {
        display: flex;
        height: 100vh;
    }

    .dashboard-bottom {
        height: 100%;
        flex: 1;
        gap: 0;
    }

    .dashboard-identity {
        border: none;
        height: 100%;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .dashboard-identity a {
        margin-top: 0;
        z-index: 1;
    }

    .dashboard-name {
        display: flex;
        margin: 0;
        font-size: 9vw;
    }

    .dashboard-colors {
        display: flex;
        position: absolute;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .dashboard-colors form {
        display: flex;
        position: absolute;
        flex-direction: column;
        height: 100%;
        margin: 0;
        width: 100%;
        gap: 4vh;
    }

    .dashboard-colors button:nth-child(odd) {
        align-self: flex-end;
    }

    .dashboard-colors button {
        margin: 0;
        width: 5vw;
        flex: 1;
    }

    .dashboard-right {
        width: 100%;
        height: 100%;
    }

    .dashboard-watchlist-pane {
        height: 100%;
        overflow-y: hidden;
    }

    .dashboard-watchlist-title {
        border-left: none;
        border-bottom: 1vw solid #F28500;
        border-right: none;
        margin: 0;
        padding-left: 0;
        text-align: center;
    }

    .dashboard-watchlist-title h1 {
        font-size: 10vw;
    }

    .dashboard-invisible pre {
        font-size: 3vw;
    }

    .dashboard-watchlist {
        min-height: 0;
        overflow-y: scroll;
        padding-top: 4vw;
    }

    .dashboard-activity {
        font-size: 5vw;
        margin-bottom: 5vw;
        border-left: 2vw solid #F28500;
        padding-left: 3vw;
    }

    .dashboard-minutes {
        font-size: 6.2vw;
    }

    .dashboard-seconds {
        font-size: 7vw;
    }

    .dashboard-invisible {
        border: none;
    }

    .dashboard-shadow-TH {
        box-shadow: inset 0 -2.5vw 0 #30f200;
    }

    .dashboard-shadow-DE {
        box-shadow: inset 0 -2.5vw 0 #F28500;
    }

    .dashboard-shadow-QU {
        box-sizing: inset 0 -2.5vw 0 #7f24ff;
    }

    .dashboard-logout-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1vw solid #f28500;
    }
    
    .dashboard-logout-button-container h1 {
        font-size: 5vw;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: #f28500;
    }

    .dashboard-info-pane {
        height: 100%;
        flex-direction: column-reverse;
        border: none;
    }

    .dashboard-info-menu {
        min-height: 12vw;
        border-bottom: none;
        border-top: 1vw solid #F28500;
        gap: 1vw;
    }

    .dashboard-info-menu li {
        border-bottom: none;
    }

    .dashboard-info-menu li {
        font-size: 5vw;
    }

    .dashboard-rules-description {
        font-size: 3.9vw;
        padding: 2vw 2vw;
    }

    .dashboard-rule-group h2 {
        font-size: 3.9vw;
    }

    .dashboard-rule-title span {
        box-shadow: inset 0 -1.8vw 0 #f28500;
    }

    .dashboard-rule p {
        font-size: 3.9vw;
    }

    .dashboard-rules-report-title {
        padding: 5vw;
    }

    .dashboard-rules-report-title h2 {
        font-size: 3.9vw;
    }

    .dashboard-rules-report-body {
        padding-left: 7vw;
        padding-right: 7vw;
        background-color: black;
        color: white;
    }

    .dashboard-rules-report-paragraph p,
    .dashboard-rules-report-paragraph li {
        font-size: 3.9vw;
    }

    #dashboard-partners {
        flex: 1;
    }

    #dashboard-partners {
        flex: 1;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 10px;
    }

    .dashboard-partner-main-title h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 10vw;
    }

    .dashboard-partner-group {
        margin-bottom: 30px;
    }

    .dashboard-partner-group h2 {
        font-size: 6vw;
    }

    .dashboard-partner-title {
        margin-left: 2vw;
    }

    .dashboard-partner {
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .dashboard-partner p {
        font-size: 5vw;
    }

    #dashboard-commands {
        padding-top: 2.5vw;
        width: 100%;
        height: 100%;
    }

    .dashboard-command {
        margin-bottom: 5vw;
        margin-left: 15px;
        margin-right: 15px;
    }

    .dashboard-command p {
        font-size: 5vw;
    }
}

@media only screen and (max-width: 620px) {
    .dashboard-top {
        display: flex;
        background-color: #F28500;
        flex: 1;
        flex-direction: row;
        max-height: 55px;
        border-bottom: 1vw solid #F28500;
    }

    .dashboard-back {
        border-right: 1vw solid #F28500;
        background-color: white;
        width: 100%;
        height: 100%;
    }

    .dashboard-back h1 {
        font-size:  30px;
        font-weight: 600;
    }

    .dashboard-title-menu-mobile {
        list-style: none;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: white;
    }

    .dashboard-title-menu-mobile h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 30px;
    }
}

@media only screen and (max-width: 425px) {
    .dashboard-activity {
        font-size: 20px;
    }

    .dashboard-shadow-TH {
        box-shadow: inset 0 -10px 0 #30f200;
    }

    .dashboard-shadow-DE {
        box-shadow: inset 0 -10px 0 #F28500;
    }

    .dashboard-shadow-QU {
        box-shadow: inset 0 -10px 0 #7f24ff;
    }
}

@media only screen and (max-width: 375px) {
    .dashboard-command {
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .dashboard-back h1 {
        font-size:  7vw;
        font-weight: 600;
    }

    .dashboard-title-menu-mobile h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 8vw;
    }
}

@media only screen and (max-width: 200px) {
    .dashboard-activity {
        font-size: 5vw;
    }

    .dashboard-shadow-TH {
        box-shadow: inset 0 -2vw 0 #30f200;
    }

    .dashboard-shadow-DE {
        box-shadow: inset 0 -2vw 0 #F28500;
    }

    .dashboard-shadow-QU {
        box-shadow: inset 0 -2vw 0 #7f24ff;
    }
}

@media only screen and (max-width: 960px) {
    .edit-container {
        height: 100%;
    }

    .edit-block h1 {
        margin-top: 10px;
        font-size: 8vw;
        text-align: center;
        padding: 0;
    }

    .edit-inputs {
        height: 100%;
        overflow: scroll;
    }

    .edit-attribute {
        justify-content: space-evenly;
        padding-left: 0;
    }

    .edit-block h1 {
        margin-bottom: 1vh;
    }

    .edit-input-container {
        flex-direction: column-reverse;
        gap: 0;
        width: 100%;
        border: 0;
    }

    .edit-input-container label {
        text-align: center;
        font-size: 5vw;
        font-weight: 600;
    }

    .edit-profile-colon {
        display: none;
    }

    .edit-input-container input {
        border-bottom: 4px solid #00baf279;
        text-align: center;
        box-sizing: border-box;
    }

    .edit-profile-error {
        text-align: center;
        font-size: 4.5vw;
    }

    .edit-submit {
        font-size: 8vw;
    }
}